<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-mock-location"
        version="0.0.8">

  <name>MockLocation</name>

  <engines>
	<engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/mocklocation.js" name="MockLocation">
	<clobbers target="window.plugins.mocklocation" />
  </js-module>

  <platform name="android">
  
    <config-file target="res/xml/config.xml" parent="/*">
		<feature name="MockLocation">
			<param name="android-package" value="com.kosh.MockLocation"/>
		</feature>
    </config-file>
	
	<config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	</config-file>
	
    <source-file src="src/android/com/kosh/MockLocation.java" target-dir="src/com/kosh"/>
  
  </platform>

</plugin>